
     <!-- <app-alerts *ngIf="alert === true" [alertMsg]="alertMsg"></app-alerts>-->
     <app-alerts *ngIf="alert" [alertMsg]="alertMsg"></app-alerts>

<span *ngIf="!rpi.devMode">

   <div   class="col-xs-12 datacon">

      <div class="col-xs-12">
        <h1 class="title">{{lang.Language.data_waterA}}</h1>
        <!-- <label for="">{{lang.Language.data_now}}</label> -->
         <td class="col-xs-12 text-center databox aw" [ngClass]="{'blueAw':blueOK,'redAw':sampleNoOK, 'greenAw':sampleOk,'yellowAw':XiOk,'whiteAw':whiteOk}">{{(rpi.currentAw>1000?1.000:rpi.currentAw/1000) | number : '1.3-3'}}<p class="Utext"></p></td>
       </div>


       <div class="col-xs-12" style="margin-top: 25px">
         <h1 class="title">{{lang.Language.data_surface}}</h1>
         <!-- <label for="">{{lang.Language.data_now}}</label> -->
        <div class="col-xs-12 text-center databox tsurface">{{rpi.rpiData.t_surface | number : '1.2-2'}}<p class="Utext">°C</p></div>
      </div>


      <div class="col-xs-6" style="margin-top: 10px">
        <h3 class="title text-center pull-left centered" style="font-size: 16px">{{lang.Language.data_time}}</h3>
        <div class="col-xs-6 databox text-center padding" >{{rpi.rpiData.time_measure | secondsToTime}}</div>
      </div>
     <div class="col-xs-6" style="margin-top: 10px">
       <div class="col-xs-6 padding">
         <p class="title-2">Sample:</p><p class="" style="color: white">{{store.sampleName}}</p>
       </div>
       <div class="col-xs-6 databox padding">{{store.sampleAw}}</div>
     </div>

    </div>

      <!--<div class="col-xs-12 datacon">
        <div class="col-xs-12">
          <div class="col-xs-6 centered">
            <p class="title-2">Sample measure:</p><p class="" style="color: white">Sample 1</p>
          </div>
            <div class="col-xs-6">
              <div class="databox padding">Aw</div>
            </div>
        </div>
      </div>-->
  <span *ngFor="let Sample of Samples; let i of index">
     <div *ngIf="i.name != ''" class="col-xs-3 datacon text-center {{i.classStyle}}" tabindex="4" #sample (click)="sampleSelect(i.aw,i.name,i.comparation,i)">{{i.name}}</div>
  </span>

  <div class="col-xs-12" style="padding: 0">
  <canvas id="myChart" class="graph" width="470" height="218"></canvas>
</div>
</span>







    <div *ngIf="rpi.devMode === true" class="col-xs-12 datacon">

      <div class="col-xs-3">
      <h3 class="title text-center">{{lang.Language.data_mirror}}</h3>
      <table>
        <tr>
          <td class="col-xs-12 subcol text-center ">{{lang.Language.data_max}}<p class="databox2">{{rpi.mirror_data.max | number : '1.2-2'}}C°</p></td>
        </tr>
        <tr>
          <td class="col-xs-12 subcol text-center ">{{lang.Language.data_dif}} <p class="databox2">{{rpi.mirror_data.avg() | number : '1.2-2'}}C°</p></td>

        </tr>
        <tr>
          <td class="col-xs-12 subcol text-center pull-right ">{{lang.Language.data_min}}<p class="databox2">{{rpi.mirror_data.min | number : '1.2-2'}}C°</p></td>
        </tr>
      </table>

      <div class="col-xs-12 databox text-center">{{rpi.rpiData.t_surface}}<p style="display: inline-block">C°</p></div>
    </div>

      <div class="col-xs-3">
        <h3 class="title text-center">{{lang.Language.data_peltier}}</h3>
        <div class="col-xs-12 databox text-center mtop">{{rpi.rpiData.peltier}}</div>
        <!-- <div class="col-xs-12 databox text-center mtop">---</div> -->
      </div>

      <div class="col-xs-5">
        <h3 class="title text-center pull-left">{{lang.Language.data_sensor}}</h3>
        <div class="col-xs-12 databox text-center mtop" >{{rpi.rpiData.reflexion}}</div>
        <div class="col-xs-12 databox text-center mtop">{{rpi.rpiData.adc0}}V</div>
      </div>

      <div class="col-xs-9" style="margin-top: 10px">
        <h3 class="title text-center pull-left" style="display: inline-block; margin-top: 13px; margin-right:10px; ">{{lang.Language.data_time}}</h3>
        <div class="col-xs-6 databox text-center mtop" >{{rpi.rpiData.time_measure}}</div>
      </div>

    </div>
    <div  *ngIf="rpi.devMode === true" class="col-xs-12 datacon">

      <div class="col-xs-3">
        <h2 class="title">{{lang.Language.data_aw}}</h2>
        <label for="">{{lang.Language.data_now}}</label>
        <td class="col-xs-12 text-center databox">{{rpi.currentAw/1000 | number : '1.3-3'}}<p></p></td>
      </div>

      <div class="col-xs-3">
        <table>
          <tr>
            <td class="col-xs-12 subcol text-center ">{{lang.Language.data_max}}<p class="databox2">{{rpi.aw_data.max/1000 | number : '1.3-3'}}</p></td>
          </tr>
          <tr>
            <td class="col-xs-12 subcol text-center ">{{lang.Language.data_dif}} <p class="databox2">{{rpi.aw_data.avg()/1000 | number : '1.3-3'}}</p></td>

          </tr>
          <tr>
            <td class="col-xs-12 subcol text-center ">{{lang.Language.data_min}}<p class="databox2">{{rpi.aw_data.min/1000 | number : '1.3-3'}}</p></td>
          </tr>
        </table>
      </div>




      <div class="col-xs-3">
        <h3 class="title">{{lang.Language.data_surface}}</h3>
        <label for="">{{lang.Language.data_now}}</label>
        <td class="col-xs-12 text-center databox ">{{rpi.rpiData.t_surface}}<p>C°</p></td>
      </div>

      <div class="col-xs-3">
        <table>
          <tr>
            <td class="col-xs-12 subcol text-center ">{{lang.Language.data_max}}<p class="databox2">{{rpi.surface_data.max | number : '1.2-2'}}C°</p></td>
          </tr>
          <tr>
            <td class="col-xs-12 subcol text-center ">{{lang.Language.data_dif}} <p class="databox2">{{rpi.surface_data.avg() | number : '1.2-2'}}C°</p></td>

          </tr>
          <tr>
            <td class="col-xs-12 subcol text-center ">{{lang.Language.data_min}}<p class="databox2">{{rpi.surface_data.min | number : '1.2-2'}}C°</p></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- <div class="col-xs-12 datacon" style="padding: 0">
      <canvas id="myChart" class="graph" width="400" height="320"  ></canvas>
    </div> -->


    <div class="col-xs-12 col-lg-12 dataconW">
      <div class="col-xs-6 col-lg-6 text-center" [ngClass]="btn_start" appStartBtn  (dblclick)="StartKinetic()" (click)="StartMeasure()" tabindex="1" #b1><h2>{{measureButton}}</h2></div>
      <div class="col-xs-2 listMenu" tabindex="2" #b2 routerLink="/list">
            <div class="square">
              <img draggable="false" src="\assets\img\list.png" class="imgScuare">
            </div>
      </div>
      <div class="col-xs-4 col-lg-4 text-center mainMenu"  routerLink="/menu" tabindex="3" #b3><h2>{{lang.Language.btn_menu}}</h2></div>
    </div>




